@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body .Index .init {
  background-image: url(../imag/wave.svg);
  background-repeat: no-repeat;
  background-size: cover; }
  body .Index .init .initf .A {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 20px; }
    body .Index .init .initf .A h1 {
      font-family: "Ubuntu", sans-serif;
      color: #ffffff;
      display: block;
      text-align: center; }
  body .Index .init .initf .B {
    margin: 0px 0 20px 0;
    align-self: center; }
    body .Index .init .initf .B .formu {
      font-size: 1rem;
      border: #083B86 solid;
      border-radius: 10px;
      padding: 15px;
      box-shadow: 7px 7px 10px #c6c6c6;
      background-color: #ffffff; }
      body .Index .init .initf .B .formu .titulof {
        font-family: "Ubuntu", sans-serif;
        text-align: center;
        color: #083B86; }
      body .Index .init .initf .B .formu form .controls {
        width: 100%;
        padding: 5px;
        border: 1px solid #083B86;
        border-radius: 4px;
        margin-bottom: 5px;
        font-family: "Josefin Sans", sans-serif; }
      body .Index .init .initf .B .formu form .pf a {
        color: #083B86;
        text-decoration: none; }
        body .Index .init .initf .B .formu form .pf a:hover {
          color: #6AB528;
          text-decoration: underline; }
      body .Index .init .initf .B .formu form .extboton {
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: center; }
        body .Index .init .initf .B .formu form .extboton .boton {
          background-color: #6AB528;
          border: none;
          padding: 10px;
          color: white;
          margin-left: auto;
          margin-right: auto;
          border-radius: 4px; }
          body .Index .init .initf .B .formu form .extboton .boton:hover {
            background-color: #083B86;
            color: white; }

body .Index .C {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  color: #083B86;
  justify-content: center;
  padding: 50px 0px 50px 0px; }
  body .Index .C h2 {
    padding: 15px 0px 15px 0px; }

body .Index .D h2 {
  font-family: "Ubuntu", sans-serif;
  color: #083B86;
  padding-top: 50px;
  text-align: center; }

body .Index .E, body .Index .F, body .Index .G {
  margin-top: 40px;
  justify-content: center;
  align-items: center; }
  body .Index .E img, body .Index .F img, body .Index .G img {
    border: solid white;
    border-radius: 8%; }
  body .Index .E .E1B, body .Index .E .F2B, body .Index .E .G3B, body .Index .F .E1B, body .Index .F .F2B, body .Index .F .G3B, body .Index .G .E1B, body .Index .G .F2B, body .Index .G .G3B {
    display: flex;
    flex-direction: column; }
    body .Index .E .E1B h2, body .Index .E .F2B h2, body .Index .E .G3B h2, body .Index .F .E1B h2, body .Index .F .F2B h2, body .Index .F .G3B h2, body .Index .G .E1B h2, body .Index .G .F2B h2, body .Index .G .G3B h2 {
      font-family: "Ubuntu", sans-serif;
      color: #083B86;
      padding: 15px 0px 15px 0px; }

body .Index .H {
  margin: 50px 0px 50px 0px; }
  body .Index .H h2 {
    font-family: "Ubuntu", sans-serif;
    color: #083B86;
    padding-bottom: 20px;
    text-align: center; }

@media screen and (min-width: 920px) {
  .carousel1 .cards-wrapper {
    display: flex;
    justify-content: center; }
    .carousel1 .cards-wrapper .card {
      margin: 0 .5em;
      width: 300px; }
      .carousel1 .cards-wrapper .card:hover {
        box-shadow: 7px 7px 10px #c6c6c6; }
      .carousel1 .cards-wrapper .card .image-wrapper {
        margin: 0 auto; }
        .carousel1 .cards-wrapper .card .image-wrapper img {
          max-width: 100%;
          max-height: 100%; }
  .carousel2 {
    display: none; }
  .carousel3 {
    display: none; } }

@media screen and (min-width: 576px) and (max-width: 920px) {
  .carousel1 {
    display: none; }
  .carousel2 .cards-wrapper {
    display: flex;
    justify-content: center; }
    .carousel2 .cards-wrapper .card {
      margin: 0 .5em;
      width: 50%; }
      .carousel2 .cards-wrapper .card:hover {
        box-shadow: 7px 7px 10px #c6c6c6; }
      .carousel2 .cards-wrapper .card .image-wrapper {
        margin: 0 auto; }
        .carousel2 .cards-wrapper .card .image-wrapper img {
          max-width: 100%;
          max-height: 100%; }
  .carousel3 {
    display: none; } }

@media screen and (max-width: 768px) {
  .Index .init .initf .B {
    justify-content: center !important; } }

@media screen and (max-width: 576px) {
  .carousel1 {
    display: none; }
  .carousel2 {
    display: none; }
  .carousel3 .cards-wrapper {
    display: flex;
    justify-content: center; }
    .carousel3 .cards-wrapper .card {
      margin: 0 .5em;
      width: 60%; }
      .carousel3 .cards-wrapper .card:hover {
        box-shadow: 7px 7px 10px #c6c6c6; }
      .carousel3 .cards-wrapper .card .image-wrapper {
        margin: 0 auto;
        height: 60vw; }
        .carousel3 .cards-wrapper .card .image-wrapper img {
          max-width: 100%;
          max-height: 100%; }
  .E, .F, .G {
    margin: 0px 20px 0px 20px !important; } }

.imagenes, body .tecnicos .card .imagens, body .cursos .card .imagens, body .seminarios .card .imagens, body .tecnicos .card .imagena, body .cursos .card .imagena, body .seminarios .card .imagena, body .tecnicos .card .imagenin1, body .cursos .card .imagenin1, body .seminarios .card .imagenin1, body .tecnicos .card .imagenin2, body .cursos .card .imagenin2, body .seminarios .card .imagenin2, body .tecnicos .card .imagenp, body .cursos .card .imagenp, body .seminarios .card .imagenp, body .tecnicos .card .imagenprog, body .cursos .card .imagenprog, body .seminarios .card .imagenprog, body .tecnicos .card .imageneb, body .cursos .card .imageneb, body .seminarios .card .imageneb, body .tecnicos .card .imageneint, body .cursos .card .imageneint, body .seminarios .card .imageneint, body .tecnicos .card .imagenelc, body .cursos .card .imagenelc, body .seminarios .card .imagenelc, body .tecnicos .card .imagenrm, body .cursos .card .imagenrm, body .seminarios .card .imagenrm, body .tecnicos .card .imagenps, body .cursos .card .imagenps, body .seminarios .card .imagenps {
  border-radius: 3px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: auto; }

body .tecnicos, body .cursos, body .seminarios {
  padding: 50px 0px 30px 0px; }
  body .tecnicos h1, body .cursos h1, body .seminarios h1 {
    font-family: "Ubuntu", sans-serif;
    color: #083B86;
    text-align: center; }
  body .tecnicos .tec, body .cursos .tec, body .seminarios .tec {
    justify-content: center;
    align-items: center; }
  body .tecnicos .card, body .cursos .card, body .seminarios .card {
    border: 0;
    margin: 20px 0px 20px 0px; }
    body .tecnicos .card .imagens, body .cursos .card .imagens, body .seminarios .card .imagens {
      background-image: url(../imag/tecsistemas.jpg); }
    body .tecnicos .card .imagena, body .cursos .card .imagena, body .seminarios .card .imagena {
      background-image: url(../imag/tecadministracion.jpg); }
    body .tecnicos .card .imagenin1, body .cursos .card .imagenin1, body .seminarios .card .imagenin1 {
      background-image: url(../imag/Cingles12.jpg); }
    body .tecnicos .card .imagenin2, body .cursos .card .imagenin2, body .seminarios .card .imagenin2 {
      background-image: url(../imag/Cingles22.jpg); }
    body .tecnicos .card .imagenp, body .cursos .card .imagenp, body .seminarios .card .imagenp {
      background-image: url(../imag/Cportugues2.jpg); }
    body .tecnicos .card .imagenprog, body .cursos .card .imagenprog, body .seminarios .card .imagenprog {
      background-image: url(../imag/CProgramacionniños2.jpg); }
    body .tecnicos .card .imageneb, body .cursos .card .imageneb, body .seminarios .card .imageneb {
      background-image: url(../imag/Cexcelb2.jpg); }
    body .tecnicos .card .imageneint, body .cursos .card .imageneint, body .seminarios .card .imageneint {
      background-image: url(../imag/Cexceli2.jpg); }
    body .tecnicos .card .imagenelc, body .cursos .card .imagenelc, body .seminarios .card .imagenelc {
      background-image: url(../imag/Clectura2.jpg); }
    body .tecnicos .card .imagenrm, body .cursos .card .imagenrm, body .seminarios .card .imagenrm {
      background-image: url(../imag/Crazonamiento2.jpg); }
    body .tecnicos .card .imagenps, body .cursos .card .imagenps, body .seminarios .card .imagenps {
      background-image: url(../imag/Cpruebas2.jpg); }
    body .tecnicos .card .imagensem, body .cursos .card .imagensem, body .seminarios .card .imagensem {
      width: 100%; }
    body .tecnicos .card .card-body, body .cursos .card .card-body, body .seminarios .card .card-body {
      border: 3px solid rgba(0, 0, 0, 0.5);
      border-radius: 4px;
      padding: 10px;
      box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
      height: 100%; }
      body .tecnicos .card .card-body .card-body-int, body .cursos .card .card-body .card-body-int, body .seminarios .card .card-body .card-body-int {
        background-color: #D0D2D4;
        padding: 20px;
        border-radius: 4px; }
        body .tecnicos .card .card-body .card-body-int h5, body .cursos .card .card-body .card-body-int h5, body .seminarios .card .card-body .card-body-int h5 {
          font-family: "Ubuntu", sans-serif;
          color: #083B86; }
        body .tecnicos .card .card-body .card-body-int .btn, body .cursos .card .card-body .card-body-int .btn, body .seminarios .card .card-body .card-body-int .btn {
          background-color: #6AB528;
          border: #6AB528; }
          body .tecnicos .card .card-body .card-body-int .btn:hover, body .cursos .card .card-body .card-body-int .btn:hover, body .seminarios .card .card-body .card-body-int .btn:hover {
            background-color: #083B86;
            border: #083B86; }

@media screen and (max-width: 576px) {
  body .tecnicos, body .cursos, body .seminarios {
    padding: 0px 20px 0px 20px; } }

body .matriculas .matriculasInit {
  margin-bottom: 20px;
  margin-top: 40px;
  margin-left: 50px;
  margin-right: 50px; }
  body .matriculas .matriculasInit .inscription h1 {
    font-family: "Ubuntu", sans-serif;
    color: #083B86; }

@media screen and (max-width: 550px) {
  body .matriculas .matriculasInit {
    margin-bottom: 20px;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px; } }

body .contactos {
  padding: 50px 0px 50px 0px; }
  body .contactos .barra .card ul a {
    text-decoration: none; }
    body .contactos .barra .card ul a:hover {
      text-decoration: none; }
  body .contactos .info .encontrarnos {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; }
    body .contactos .info .encontrarnos h3 {
      font-family: "Ubuntu", sans-serif;
      color: #083B86;
      padding-top: 20px; }
    body .contactos .info .encontrarnos .lugar {
      display: flex;
      flex-direction: row;
      margin: auto; }
      body .contactos .info .encontrarnos .lugar iframe {
        padding: 10px; }
    body .contactos .info .encontrarnos .comunicacion, body .contactos .info .encontrarnos .escribir form {
      padding-left: 30px;
      padding-top: 10px; }
    body .contactos .info .encontrarnos .escribir form {
      width: 70%; }
      body .contactos .info .encontrarnos .escribir form .boton {
        width: 100%; }
        body .contactos .info .encontrarnos .escribir form .boton button {
          background-color: #6AB528; }
          body .contactos .info .encontrarnos .escribir form .boton button:hover {
            background-color: #083B86;
            color: #ffffff; }

@media screen and (max-width: 576px) {
  body .contactos {
    padding: 30px 30px 20px 30px; } }

@media screen and (max-width: 767px) {
  body .contactos .barra {
    margin: auto !important; } }

body header {
  background-color: #0c1c34; }

body main .c {
  background-color: #0c1c34; }
  body main .c .cInt {
    background-color: white; }

body main .mBoton {
  background-color: #6AB528;
  text-decoration: none;
  border: none;
  padding: 10px 12px 10px 12px;
  color: white;
  border-radius: 4px; }
  body main .mBoton:hover {
    background-color: #083B86;
    color: white; }

body main .abstract {
  background-color: #0c1c34;
  color: white;
  height: 83vh; }
  body main .abstract h3, body main .abstract .programa {
    color: #6AB528; }
  body main .abstract h6 {
    font-size: 0.8rem;
    padding-top: 5px; }

body main .formu2 .term {
  color: #083B86; }
  body main .formu2 .term:hover {
    color: #6AB528; }

body main .formu3 button {
  text-decoration: none;
  color: black; }
  body main .formu3 button:hover {
    box-shadow: 3px 4px 9px -1px #153154; }

body main .formu3 .pantallaChicaResumen {
  display: none; }

@media screen and (min-width: 1327px) and (max-width: 1394px) {
  .abstract {
    height: 85vh !important; } }

@media screen and (min-width: 768px) and (max-width: 1326px) {
  .abstract {
    height: 90vh !important; } }

@media screen and (max-width: 768px) {
  .abstract {
    height: 100% !important;
    padding: 40px 20px 30px 20px !important; }
  .formu3 .pantallaChicaResumen {
    display: block !important;
    color: #6AB528; } }

body .checkoutExito {
  background-color: #0c1c34;
  height: 100vh; }
  body .checkoutExito .checkoutExitoInt {
    height: 100%;
    margin: auto;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center; }
    body .checkoutExito .checkoutExitoInt div {
      padding: 20px;
      background-color: white;
      text-align: center;
      border-radius: 15px; }
      body .checkoutExito .checkoutExitoInt div h3 {
        font-family: "Ubuntu", sans-serif;
        color: #6AB528; }
      body .checkoutExito .checkoutExitoInt div .mBoton {
        background-color: #6AB528;
        text-decoration: none;
        border: none;
        padding: 10px 12px 10px 12px;
        color: white;
        border-radius: 4px; }
        body .checkoutExito .checkoutExitoInt div .mBoton:hover {
          background-color: #083B86;
          color: white; }

body {
  color: black;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.1rem; }
  body header nav {
    background-color: #083B86; }
    body header nav ul {
      list-style: none;
      display: flex;
      justify-content: center; }
      body header nav ul li {
        margin-right: 2px; }
        body header nav ul li a {
          position: relative;
          display: block;
          padding: 5px; }
          body header nav ul li a::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background: #6AB528;
            z-index: 1;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.5s ease-in-out; }
          body header nav ul li a:hover::before {
            transform: scaleX(1); }
    body header nav .Login {
      color: white;
      margin-left: 15px; }
      body header nav .Login:hover {
        color: #6AB528; }
  body header .sticky {
    padding: 5px;
    background-color: #0c1c34; }
  body header .scroll {
    width: 180px; }
  body header .inicio {
    background-color: #083B86;
    height: 105px; }
  body header .inicio2 {
    height: 105px; }
  body header .inicio3 {
    height: 500px;
    background-image: url(../imag/init_contactos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    background-attachment: fixed;
    color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end; }
    body header .inicio3 h1 {
      font-family: "Ubuntu", sans-serif;
      padding-left: 50px;
      padding-bottom: 30px; }
  body .wpp {
    position: fixed;
    line-height: 55px;
    bottom: 20px;
    right: 30px; }
  body .footer p a {
    text-decoration: none;
    color: #6c757D; }

@media screen and (min-width: 322px) and (max-width: 441px) {
  .Login {
    width: 100%;
    margin-right: 20px !important; }
    .Login i {
      float: right; } }

@media screen and (max-width: 312px) {
  .Login {
    margin-right: 20px !important; } }

@media screen and (max-width: 443px) {
  .contactos, .cursos, .matriculas, .seminarios, .tecnicos {
    margin-top: 30px !important; } }
