body{
    .contactos{
        padding: 50px 0px 50px 0px;
        .barra{  
            .card{
                ul{
                    a{
                        text-decoration: none;
                            &:hover{
                                text-decoration: none;
                            }
                    }
                }
            }
            
        }
        .info{
            .encontrarnos{
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                h3{
                    font-family: $titulos;
                    color: $azul;
                    padding-top: 20px;
                }
                .lugar{
                    display: flex;
                    flex-direction: row;
                    margin: auto;
                    iframe{
                        padding: 10px;
                    }
                }
                .comunicacion{
                    padding-left: 30px;
                    padding-top: 10px;
                }
                .escribir{
                    form{
                        @extend .comunicacion;
                        width: 70%;
                        .boton{
                            width: 100%;
                            button{
                                background-color: $verde;
                                &:hover{
                                    background-color: $azul;
                                    color: $blanco;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:576px){
    body{
        .contactos{
                padding: 30px 30px 20px 30px;
        }
    }
}
@media screen and (max-width:767px){
    body{
        .contactos{
            .barra{
                margin: auto !important;
            }
        }
    }
}
