// body{
//     .matriculas{
//         margin: auto;
//         padding: 30px;
//         .text{
//             margin: auto;
//             h1{
//                 font-family: $titulos;
//                 color: $azul;
//                 text-align: center;
//                 padding-bottom: 15px;
//             }
//             img{
//                 width: auto;
//             }
//         }
//         .vinc{
//             .card{
//                 form{
//                     padding: 5px 80px 5px 80px;
//                     .controls{
//                         width: 100%;
//                         padding: 5px;
//                         border: 1px solid $azul;
//                         border-radius: 4px;
//                         // margin-bottom: 5px;
//                         font-family: $letras;
                        
//                     }
//                     .form-check{
//                         .textc{
//                             a{
//                                 text-decoration: none;
//                                 color: $blanco;
//                                     &:hover{
//                                         color: $verde;
//                                         text-decoration: none;
//                                     }
//                             }
//                         }
//                     }
//                     .boton{
//                         width: 100%;
//                         button{
//                             background-color: $verde;
//                             &:hover{
//                                 background-color: $azul;
//                                 color: $blanco;
//                             }
//                         }
//                     }
//                 }
//             }
//         }
        
//     }
// }

body{
    .matriculas{
        .matriculasInit{
            margin-bottom: 20px;
            margin-top: 40px;
            margin-left: 50px; margin-right: 50px;
            .inscription{
                h1{
                    font-family: $titulos;
                    color: $azul;
                }                
            }
        }
    }
}

@media screen and (max-width:550px){
    body{
        .matriculas{
            .matriculasInit{
                margin-bottom: 20px;
                margin-top: 40px;
                margin-left: 20px; margin-right: 20px;
            }
        }
    }
}