body{
    .matriculas{
        .matriculasInit{
            margin-bottom: 20px;
            margin-top: 40px;
            margin-left: 50px; margin-right: 50px;
            .inscription{
                h1{
                    font-family: $titulos;
                    color: $azul;
                }                
            }
        }
    }
}

@media screen and (max-width:550px){
    body{
        .matriculas{
            .matriculasInit{
                margin-bottom: 20px;
                margin-top: 40px;
                margin-left: 20px; margin-right: 20px;
            }
        }
    }
}